.asbplayer-offscreen {
    position: fixed !important;
    left: 100% !important;
    top: 100% !important;
}

.asbplayer-subtitles-blurred {
    filter: blur(10px);
}

.asbplayer-subtitles-blurred:hover {
    filter: none;
}

.subtitle-line {
    margin: 0;
    padding: 0;
    display: table;
    margin: auto;
}

.knownWords,
.notInDeckWords,
.unknownWords {
  display: inline-block; /* stays inline yet allows pseudo-elements to work */
  position: relative;    /* necessary for positioning the :after element */
  vertical-align: baseline; /* align with adjacent text if needed */
}

.knownWords:after,
.notInDeckWords:after,
.unknownWords:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
  width: calc(100% - 3px);
  height: 0.1em;
}

.knownWords:after {
   background-color: green; 
}
.unknownWords:after {
   background-color: red; 
}
.notInDeckWords:after {
   background-color: black; 
}
